@import "~@/assets/scss/theme.scss";

p {
  margin-bottom: 0;
}

@counter-style brackets {
  system: fixed;
  symbols: '1' '2' '3' '4' '5';
  suffix: ') ';
}

.redeem {

  .header-wrapper {
    background: url("static/img/breeding/header-bg.png") no-repeat center / cover;
  }
}

.base {

  .header-wrapper {
    padding-bottom: 500px;
    background:
            url("static/img/breeding/dna-bg-base.png") no-repeat center top / contain,
            url("static/img/breeding/bottom-bg-base.png") no-repeat center bottom / contain;

    @media (max-width: 1200px) {
      padding-bottom: 180px;
    }
  }
}

.terms {

  .header {

    &__heading {

      @media (max-width: 1200px) {
        margin-bottom: 16px;
      }
    }
  }
}

.ps-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 103px;

  @media (max-width: 1200px) {
    min-height: 82px;
  }

  &-wrapper {
    background: rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(10px);
    margin-bottom: 32px;

    @media (max-width: 1200px) {
      margin-bottom: 12px;
    }
  }

  &-brand {

    &__img {

      @media (max-width: 1200px) {
        width: 65px;
      }
    }
  }

  &__enter-link {
    font-family: Sora, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #00D2FE;

    @media (max-width: 1200px) {
      font-size: 16px;
      line-height: 20px;
      text-align: right;
    }
  }
}

.header {

  &-wrapper {
    padding-bottom: 66px;
    min-height: 100vh;

    @media (max-width: 1200px) {
      padding-bottom: 24px;
    }
  }

  &-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 64px;
    margin-bottom: 48px;

    @media (max-width: 1200px) {
      margin-bottom: 24px;
      column-gap: 12px;
    }

    @media (max-width: 700px) {
      justify-content: space-between;
      column-gap: 0;
    }

    &__tab {
      cursor: pointer;
      padding-bottom: 6px;
      position: relative;
      font-size: 24px;
      line-height: 30px;
      color: #7C7E83;

      @media (max-width: 1200px) {
        font-size: 18px;
        line-height: 22px;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        background-color: #00D2FE;
        width: 0;
        transition: width .3s;

        @media (max-width: 1200px) {
          height: 2px;
        }
      }

      &.active {
        color: #00D2FE;

        &::after {
          width: 60%;
        }
      }
    }
  }

  &__heading {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 52px;
    line-height: 65px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 48px;

    @media (max-width: 1200px) {
      font-size: 28px;
      line-height: 35px;
      margin-bottom: 40px;
    }
  }

  &-about {
    background: rgba(57, 9, 104, 0.6);
    backdrop-filter: blur(10px);
    position: relative;
    padding: 32px 80px;
    border: 4px solid #8093D0;
    border-radius: 60px 0;
    margin-bottom: 48px;
    z-index: 1;

    @media (max-width: 1200px) {
      padding: 24px 12px 12px 12px;
      border-radius: 30px 0;
      margin-bottom: 16px;
      border-width: 3px;
      margin-left: 32px;
    }

    &__number-img {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      width: 86px;

      @media (max-width: 1200px) {
        width: 60px;
      }
    }

    &-text {
      font-size: 18px;
      display: grid;
      grid-row-gap: 1em;

      @media (max-width: 1200px) {
        font-size: 16px;
      }

      &__text {
        font-weight: 600;
        line-height: 130%;
        text-align: center;
        color: #FEFEFE;

        .hint {
          display: inline-flex;
          column-gap: 0.5em;
          align-items: center;
          color: #00D2FE;
          cursor: help;

          img {
            width: 21px;

            @media (max-width: 1200px) {
              width: 19px;
            }
          }
        }
      }
    }
  }

  &-stats {
    border: 5px solid #FF00F8;
    border-radius: 0 60px;
    padding: 50px 50px 40px 50px;
    background: rgba(13, 14, 16, 0.7);
    backdrop-filter: blur(10px);

    @media (max-width: 1200px) {
      border-width: 3px;
      margin-left: 32px;
      padding: 16px;
      border-radius: 0 30px;
    }

    &-items {
      display: flex;
      column-gap: 24px;
      margin-bottom: 32px;

      @media (max-width: 1200px) {
        flex-wrap: wrap;
        gap: 12px;
        margin-bottom: 0;
      }

      &-item {
        border: 2px solid #AF31AA;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px 12px 8px;
        background: #390968;
        backdrop-filter: blur(20px);
        border-radius: 25px 0;
        flex-grow: 1;

        @media (max-width: 1200px) {
          padding: 12px 4px 4px;

          &:last-child {
            flex-grow: 0;
            margin: 0 auto;
            padding: 12px 24px 4px;
          }
        }

        &__text {
          color: #fff;
          font-size: 26px;
          line-height: 32px;
          text-align: center;
          font-family: "Hammersmith One", sans-serif;

          @media (max-width: 1200px) {
            font-size: 18px;
            line-height: 22px;
          }

          strong {
            color: #FF00FF;
            font-size: 40px;
            line-height: 38px;
            display: inline-flex;
            align-items: center;
            position: relative;

            @media (max-width: 1200px) {
              font-size: 28px;
              line-height: 27px;
            }

            &.tilda {
              margin-left: 15px;

              @media (max-width: 1200px) {

              }

              &::before {
                content: "~";
                position: absolute;
                left: 0;
                top: 50%;
                font-size: 60px;
                line-height: 1;
                text-align: center;
                color: #FF00FF;
                transform: translate(-100%, -15px);

                @media (max-width: 1200px) {
                  font-size: 42px;
                }
              }
            }
          }
        }

        &__edition {
          margin-top: auto;
          font-weight: 600;
          font-size: 18px;
          line-height: 130%;
          text-align: center;
          color: #FF00FF;

          @media (max-width: 1200px) {
            font-size: 12px;
          }
        }
      }
    }

    &__hint {
      display: flex;
      justify-content: center;
      font-weight: 600;
      font-size: 18px;
      line-height: 130%;
      text-align: center;
      color: #FEFEFE;

      @media (max-width: 1200px) {
        display: none;
      }
    }
  }

  &-terms {
    display: grid;
    grid-row-gap: 24px;

    @media (max-width: 1200px) {
      grid-row-gap: 16px;
    }

    &-item {
      font-weight: 600;
      font-size: 18px;
      color: #FEFEFE;

      @media (max-width: 1200px) {
        font-size: 16px;
      }

      > *:not(h4):not(:last-child) {
        margin-bottom: 12px;

        @media (max-width: 1200px) {

        }
      }

      h4 {
        text-transform: uppercase;
        margin-bottom: 0;

        &:not(:last-child) {
          margin-bottom: 24px;
        }

        @media (max-width: 1200px) {
          margin-bottom: 0;

          &:not(:last-child) {
            margin-bottom: 12px;
          }
        }
      }

      strong {
        color: #ff00ff
      }

      ol {
        list-style: brackets;

        li {
          &:not(:last-child) {
            margin-bottom: 12px;

            @media (max-width: 1200px) {

            }
          }
        }
      }

      a {
        color: #00D2FE;

        &:hover {
          text-decoration: underline;
        }
      }

    }
  }

  &-faq {
    display: grid;
    grid-row-gap: 40px;

    @media (max-width: 1200px) {
      padding-right: 16px;
      grid-row-gap: 24px;
    }

    &-item {

      &-question {
        cursor: pointer;
        position: relative;
        border: 3px solid #AF31AA;
        padding: 20px 48px;
        background: rgba(57, 9, 104, 0.6);
        backdrop-filter: blur(20px);
        font-family: 'Hammersmith One', sans-serif;
        font-size: 24px;
        line-height: 30px;
        color: #FF00FF;
        border-radius: 36px 0;

        @media (max-width: 1200px) {
          padding: 12px 24px 8px 16px;
          font-size: 18px;
          line-height: 22px;
          border-width: 2px;
          border-radius: 16px 0;
        }

        &__toggle {
          cursor: pointer;
          width: 70px;
          height: 70px;
          position: absolute;
          right: 0;
          top: 0;
          transform: translate(50%, -50%);
          background: url("static/img/breeding/plus.svg") no-repeat center / cover;

          @media (max-width: 1200px) {
            width: 36px;
            height: 36px;
          }

          &.minus {
            background: url("static/img/breeding/minus.svg") no-repeat center / cover;
          }
        }
      }

      &-content {
        display: grid;
        grid-row-gap: 18px;
        padding: 20px 48px 0 48px;

        @media (max-width: 1200px) {
          font-size: 16px;
          line-height: 130%;
          padding: 12px 24px 0 16px;
          grid-row-gap: 12px;
        }

        ::v-deep {
          p {
            font-weight: 600;
            font-size: 18px;
            line-height: 130%;
            color: #FEFEFE;
            margin-bottom: 0;

            @media (max-width: 1200px) {
              font-size: 16px;
              line-height: 130%;
            }
          }

          a {
            color: #00D2FE;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.staking {

  &-wrapper {
    padding-top: 88px;
    background:
      url("static/img/breeding/dna.png") repeat-y center top 450px / cover
    ;

    @media (max-width: 1200px) {
      padding-top: 24px;
    }
  }

  &-about {
    background: rgba(57, 9, 104, 0.6);
    backdrop-filter: blur(10px);
    position: relative;
    padding: 36px 112px;
    border: 4px solid #8093D0;
    border-radius: 60px 0;
    margin-bottom: 68px;

    @media (max-width: 1200px) {
      margin-left: 32px;
      padding: 24px 15px 16px;
      border-radius: 30px 0;
      margin-bottom: 40px;
    }

    &__number-img {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      width: 86px;

      @media (max-width: 1200px) {
        width: 60px;
      }
    }

    &-text {
      font-size: 18px;
      display: grid;
      grid-row-gap: 1em;

      @media (max-width: 1200px) {
        font-size: 18px;
      }

      &__text {
        font-weight: 600;
        line-height: 130%;
        text-align: center;
        color: #FEFEFE;

        .hint {
          display: inline-flex;
          column-gap: 0.5em;
          align-items: center;
          color: #00D2FE;
          cursor: help;

          img {
            width: 21px;

            @media (max-width: 1200px) {
              width: 19px;
            }
          }
        }
      }
    }
  }

  &-how {
    display: grid;
    grid-template-columns: 1fr 480px;
    grid-column-gap: 100px;
    align-items: end;
    margin-bottom: 91px;

    @media (max-width: 1200px) {
      grid-template-columns: 1fr;
      grid-row-gap: 24px;
      margin-bottom: 20px;
    }

    &-guide {
      @media (max-width: 1200px) {
        order: 1;
      }

      &__title {
        font-family: 'Hammersmith One', sans-serif;
        font-size: 36px;
        line-height: 45px;
        color: #00D2FE;
        margin-bottom: 24px;

        @media (max-width: 1200px) {
          margin-bottom: 12px;
          font-size: 24px;
          line-height: 30px;
        }
      }

      &-text {
        display: grid;
        grid-row-gap: 1em;
        margin-bottom: 60px;

        @media (max-width: 1200px) {
          margin-bottom: 12px;
          grid-row-gap: .8em;
        }

        &__text {
          font-weight: 600;
          font-size: 18px;
          line-height: 130%;
          color: #FFFFFF;
          margin-bottom: 0;

          @media (max-width: 1200px) {
            font-size: 16px;
            line-height: 140%;
          }


          a {
            color: #FF00FF;
          }
        }
      }

      &-tip {
        border: 2px solid #FF00FF;
        background: #390968;
        backdrop-filter: blur(10px);
        border-radius: 25px 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        color: #fff;
        padding: 20px;

        @media (max-width: 1200px) {
          font-size: 14px;
          padding: 18px 16px 9px 14px;
        }

        strong {
          color: #FF00FF;
        }
      }
    }

    &__img {
      width: 100%;
      max-width: 450px;
    }
  }

  &-when {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1200px) {
      margin-top: 20px;
      margin-bottom: 5px;
    }

    &__title {
      font-family: "Hammersmith One", sans-serif;
      font-size: 36px;
      line-height: 45px;
      text-align: center;
      color: #FF00FF;
      margin-bottom: 20px;

      @media (max-width: 1200px) {
        font-size: 24px;
        line-height: 30px;
      }
    }

    &__text {
      max-width: 622px;
      font-weight: 600;
      font-size: 18px;
      line-height: 130%;
      text-align: center;
      color: #FEFEFE;

      @media (max-width: 1200px) {

      }
    }
  }
}

.examples {
  height: 450px;

  @media (max-width: 1200px) {
    display: none;
  }

  &-wrapper {
    background: url("static/img/breeding/examples.png") no-repeat center / cover;
  }

  &-mobile {
    &-top {
      display: none;
      height: 130px;
      background: url("static/img/breeding/examples-top-mobile.png") no-repeat center / contain;

      @media (max-width: 1200px) {
        display: flex;
      }
    }

    &-bottom {
      display: none;
      height: 280px;
      background: url("static/img/breeding/examples-bottom-mobile.png") no-repeat center / contain;

      @media (max-width: 1200px) {
        display: flex;
      }
    }
  }
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;

  @media (max-width: 1200px) {
    row-gap: 12px;
  }

  &-wrapper {
    padding-bottom: 48px;

    @media (max-width: 1200px) {
      padding-bottom: 28px;
    }
  }

  &__text {
    max-width: 996px;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 1200px) {
      font-size: 18px;
    }

    a {
      color: #00D2FE;
    }
  }
}

.what-is-popup {
  transition: opacity .3s, visibility .3s;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  width: 436px;
  padding: 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #fff;
  background: #390968;
  backdrop-filter: blur(20px);
  border-radius: 25px 0;
  border: 2px solid #AF31AA;
  opacity: 0;
  visibility: hidden;
  text-align: left;

  @media (max-width: 1200px) {
    width: 200px;
    padding: 12px;
    font-size: 14px;
  }

  strong {
    line-height: 130%;
    color: #FF00FF;
  }

  &-parent {
    position: relative;
    cursor: help;

    &:hover {

      .what-is-popup {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
