.footer {
  margin-bottom: 45px;

  &-wrapper {
    background:
            url("static/img/halloween/index/footer/web-top-left.svg") no-repeat top left,
            url("static/img/halloween/index/footer/web-bottom-right.svg") no-repeat bottom right;
  }

  &__text {
    font-family: 'Hammersmith One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    a {
      color: #00D2FE;
    }
  }
}

.when {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 45px;

  &__title {
    margin-bottom: 20px;
    font-family: 'Hammersmith One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #FF00FF;
  }

  &__text {
    max-width: 622px;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: #FEFEFE;
  }
}

.images {
  width: 100%;
  margin-bottom: 50px;
}

.terms {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px 0;
  background: #1C1C1E;
}
