.footer {
  margin-bottom: 45px;

  @media (max-width: 1200px) {
    margin-bottom: 22px;
  }

  &-wrapper {
    background:
            url("static/img/halloween/index/footer/web-top-left.svg") no-repeat top left,
            url("static/img/halloween/index/footer/web-bottom-right.svg") no-repeat bottom right;

    @media (max-width: 1200px) {
      background:
              url("static/img/halloween/index/footer/web-bottom-right-mobile.svg") no-repeat bottom -20px right;
    }
  }

  &__text {
    font-family: 'Hammersmith One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;

    @media (max-width: 1200px) {
      font-size: 22px;
      word-break: break-word;
    }

    &:not(:last-child) {
      margin-bottom: 40px;

      @media (max-width: 1200px) {
        margin-bottom: 20px;
      }
    }

    a {
      color: #00D2FE;
    }
  }
}

.when {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 45px;

  @media (max-width: 1200px) {
    margin-bottom: 24px;
  }

  &__title {
    margin-bottom: 20px;
    font-family: 'Hammersmith One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #FF00FF;

    @media (max-width: 1200px) {
      margin-bottom: 16px;
      font-size: 22px;
      line-height: 28px;
      max-width: 340px;
    }
  }

  &__text {
    max-width: 622px;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: #FEFEFE;

    @media (max-width: 1200px) {
      font-size: 14px;
    }
  }
}

.images {
  width: 100%;
  margin-bottom: 50px;

  @media (max-width: 1200px) {
    height: 200px;
    object-fit: contain;
    margin-bottom: 30px;
  }

  @media (max-width: 550px) {
    height: 131px;
    object-fit: contain;
  }
}
